USE [master]
GO
/****** Object:  Database [Maro]    Script Date: 14/12/2020 10:05:38 p. m. ******/
CREATE DATABASE [Maro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Maro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.S17100233\MSSQL\DATA\Maro.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Maro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.S17100233\MSSQL\DATA\Maro_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Maro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Maro]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/12/2020 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/12/2020 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](70) NOT NULL,
	[Telefono] [varchar](14) NOT NULL,
	[Email] [varchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseñoCarritos]    Script Date: 14/12/2020 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseñoCarritos](
	[DiseñoCarritoID] [int] IDENTITY(1,1) NOT NULL,
	[DiseñoID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.DiseñoCarritos] PRIMARY KEY CLUSTERED 
(
	[DiseñoCarritoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diseños]    Script Date: 14/12/2020 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseños](
	[DiseñoID] [int] IDENTITY(1,1) NOT NULL,
	[TipoID] [int] NOT NULL,
	[Descripcion] [varchar](300) NOT NULL,
	[PrecioUnitario] [money] NOT NULL,
	[Imagen] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.Diseños] PRIMARY KEY CLUSTERED 
(
	[DiseñoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 14/12/2020 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos](
	[TipoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Tipos] PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacciones]    Script Date: 14/12/2020 10:05:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones](
	[TransaccionID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[DiseñoID] [int] NOT NULL,
	[FechaTransaccion] [datetime] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Total] [money] NOT NULL,
 CONSTRAINT [PK_dbo.Transacciones] PRIMARY KEY CLUSTERED 
(
	[TransaccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiseñoID]    Script Date: 14/12/2020 10:05:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DiseñoID] ON [dbo].[DiseñoCarritos]
(
	[DiseñoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TipoID]    Script Date: 14/12/2020 10:05:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_TipoID] ON [dbo].[Diseños]
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClienteID]    Script Date: 14/12/2020 10:05:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ClienteID] ON [dbo].[Transacciones]
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiseñoID]    Script Date: 14/12/2020 10:05:38 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DiseñoID] ON [dbo].[Transacciones]
(
	[DiseñoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiseñoCarritos] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[DiseñoCarritos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseñoCarritos_dbo.Diseños_DiseñoID] FOREIGN KEY([DiseñoID])
REFERENCES [dbo].[Diseños] ([DiseñoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiseñoCarritos] CHECK CONSTRAINT [FK_dbo.DiseñoCarritos_dbo.Diseños_DiseñoID]
GO
ALTER TABLE [dbo].[Diseños]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Diseños_dbo.Tipos_TipoID] FOREIGN KEY([TipoID])
REFERENCES [dbo].[Tipos] ([TipoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Diseños] CHECK CONSTRAINT [FK_dbo.Diseños_dbo.Tipos_TipoID]
GO
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transacciones_dbo.Clientes_ClienteID] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [FK_dbo.Transacciones_dbo.Clientes_ClienteID]
GO
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transacciones_dbo.Diseños_DiseñoID] FOREIGN KEY([DiseñoID])
REFERENCES [dbo].[Diseños] ([DiseñoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [FK_dbo.Transacciones_dbo.Diseños_DiseñoID]
GO
USE [master]
GO
