@model SistemaVentas.Models.Transaccion

@{
    ViewBag.Title = "ConfirmarPago";
}

<h1>Confirmación de pago</h1>

<div>
    <h2>¡Gracias! Vuelva pronto @SistemaVentas.Models.Carrito.Cliente</h2>
    <hr />
</div>
<p>
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
